@font-face {
	font-family: 'Poppins-Black';
	src: url('../../../fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
	font-family: 'Poppins-BlackItalic';
	src: url('../../../fonts/Poppins/Poppins-BlackItalic.ttf');
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../../../fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
	font-family: 'Poppins-BoldItalic';
	src: url('../../../fonts/Poppins/Poppins-BoldItalic.ttf');
}
@font-face {
	font-family: 'Poppins-ExtraBold';
	src: url('../../../fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
	font-family: 'Poppins-ExtraBoldItalic';
	src: url('../../../fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: 'Poppins-ExtraLight';
	src: url('../../../fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
	font-family: 'Poppins-ExtraLightItalic';
	src: url('../../../fonts/Poppins/Poppins-ExtraLightItalic.ttf');
}
@font-face {
	font-family: 'Poppins-Italic';
	src: url('../../../fonts/Poppins/Poppins-Italic.ttf');
}
@font-face {
	font-family: 'Poppins-Light';
	src: url('../../../fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
	font-family: 'Poppins-LightItalic';
	src: url('../../../fonts/Poppins/Poppins-LightItalic.ttf');
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('../../../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: 'Poppins-MediumItalic';
	src: url('../../../fonts/Poppins/Poppins-MediumItalic.ttf');
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../../../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../../../fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
	font-family: 'Poppins-SemiBoldItalic';
	src: url('../../../fonts/Poppins/Poppins-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Poppins-Thin';
	src: url('../../../fonts/Poppins/Poppins-Thin.ttf');
}
@font-face {
	font-family: 'Poppins-ThinItalic';
	src: url('../../../fonts/Poppins/Poppins-ThinItalic.ttf');
}

html {
	overflow-x: hidden;
}

body {
	font-family: 'Poppins-Light';
	background: #fff;
	/* color: #c3c4c6; */
	color: #FFFFFF;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 34px;
}

h3 {
	font-size: 24px;
}

h1, h2, h3 {
	color: #717171;
	font-family: 'Poppins-SemiBold';
}
h4 {
	font-family: 'Poppins-SemiBold';
	color: #000;
	font-size: 24px;
}
h5 {
	font-family: 'Poppins-SemiBold';
	font-size: 15px;
}

p {
	font-family: 'Poppins-Regular';
	color: #A1A1A1;
	font-size: 18px;
}

.text-grey {
	color: #717171;
}

.text-blue {
	color: blue !important;
}

img {
    width: 100%;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.gradient-bottom {
	background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .5) 80%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
	margin-top: -100px;
    height: 100px;
	position: relative;
}

.cursor-pointer-none {
	cursor: unset !important;
}

/* intltel-input */
.iti {
	color: #495057;
	width: 100%;
}

/* Whatsapp Button */
.float-button.whatsapp {
	transition: all .25s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3em 3em 0;
	border-radius: 50%;
	padding: .25em;
	width: 60px;
	height: 60px;
	background-color: rgb(77, 175, 80) !important;
	z-index: 9999;
	animation: ring;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	/* animation: ring 1.5s infinite; */
	border: solid transparent;
}
.music-area button {
	background: no-repeat;
    color: #fff;
    border: none;
    padding: 0;
	cursor: pointer;
}
.music-area button.active,
.music-area button:hover {
	color: #E8AB44 !important;
}
.music-area button:focus,
.music-area button:active {
    outline: 0;
}
#section-header #navbar.sticky .music-area button {
	color: #000;
}

@keyframes whatsapp {
	0%   {width: 60px;}
	25%  {width: 29px;height: 29px;right:2px;}
	50%  {width: 29px;height: 29px;right:2px;}
	75%  {width: 29px;height: 29px;right:2px;}
	100% {width: 60px;}
}

@keyframes ring {
	0% {
		width: 60px;
		height: 60px;
		opacity: 1;
		transform: rotate(360deg);
	}
	25%  {
		opacity: 0.8;
		transform: rotate(0deg);
	}
	50%  {
		width: 60px;
		height: 60px;
		opacity: 1;
	}
	75% {
	}
	100% {
		width: 60px;
		height: 60px;
		opacity: 1;
	}
}

.float-button.whatsapp .fa-whatsapp {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
}

@media(max-width:768px) {
	.float-button.whatsapp {
		width: 50px;
		height: 50px;
		margin: 0 1em 1em 0;
		animation-name: ringmobile;
		animation: ringmobile; /* referring directly to the animation's @keyframe declaration */
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.footer-information {
		border-left: unset !important;
	}
}

/* Navigation */
#section-header #navbar{
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	/* border-bottom: 1px solid #fff; */
	padding: 20px 0;
	transition: .3s ease all;
}
#section-header #navbar img {
	max-width: 250px;
	width: auto;
}
ul {
	list-style: none;
}
#navbar .row {
    display: flex;
}
.hover-underline {
	display: inline-block;
	position: relative;
	font-weight: 700;
}
.hover-underline:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: #E8AB44;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.hover-underline:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
#section-header #navbar .col-md-6,
#section-header #navbar .col-md-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
 #section-header #navbar ul {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	padding-left: 0;
	height: 100%;
}
#section-header #navbar ul li {
	padding: 0 15px;
}
#section-header #navbar ul li a {
	color: #fff;
	text-transform: Capitalize;
	letter-spacing: 1.5px;
	font-size: 17px;
	display: block;
}
#section-header #navbar ul li.lang {
    position: relative;
	font-weight: 600;
	padding: 0;
}
#section-header #navbar.sticky ul li a,
#section-header #navbar-mobile.sticky ul li a {
	color: #000 !important;
}
#section-header  #navbar ul li.lang > a {
	border: 1px solid #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
#section-header  #navbar-mobile  ul li.lang > a {
	border: 1px solid #000;
	padding: 5px 15px;
	border-radius: 5px;
}
#section-header #navbar.sticky ul li.lang > a {
    border: 1px solid #000;

}
#section-header #navbar ul li:hover>.dropdown-menu {
    display: block;
    color: #000;
}
#section-header #navbar ul li >.dropdown-menu a {
	color: #fff;
}
#section-header #navbar ul li:hover>.dropdown-menu a:hover,
#section-header #navbar ul li:hover>.dropdown-menu a.active {
	background: #E8AB44;	
}
#section-header #navbar ul li:hover>.dropdown-menu a {
	padding-bottom: 10px;
}


.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#section-header #navbar .dropdown-menu {
    min-width: auto;
    margin: 0;
    padding: 0;
	background-color: rgba(255,255,255,0.15);
	color: #fff;
}

#section-header #navbar.sticky .dropdown-menu {
	background: #fff;
}
#section-header #navbar .dropdown-menu a {
    color: #000;
    padding: 10px 20px;
}
#section-header #navbar .dropdown-menu a:first-child {
    padding-bottom: 0;
}
#section-header #navbar ul li.inquiry a, .btn-primary {
	background: #c8a179;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: .2s ease all;
}
 a:active, a:focus {
	background: none !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	color: #fff !important;
}
a:hover {
	text-decoration: none;
}
.btn-primary:hover, #section-header #navbar ul li.inquiry a:hover {
	background: #997b5c;
}
.sticky {
	position: fixed !important;
	top: 0;
	z-index: 999;
	width: 100%;
	box-shadow: 0 2px 16px 0px grey;
	background: #fff;
}

/* .container {
	max-width: 1280px;
} */
#navbar-mobile {
	display: none;;
}
button.list-your-property-form-button{
	background-color:#E8AB44 !important;
    color: white !important;
}

/* Coming Soon Modal */
#comingModal .modal-content {
    background-color: rgba(255,255,255,.25);
    border-radius: 20px;
    border: 1px solid #fff;
}
#comingModal button.close {
    color: #fff;
    opacity: 1;
}
.coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	padding: 100px 0;
    font-size: 22px;
    font-family: 'Poppins-Bold';
}
.coming-soon img {
    max-width: 200px;
    margin-bottom: 25px;
}

#no-max-limit-input {
	height: 27px;
	margin-top: 0;
	font-size: 16px;
}

/* Video */
.home-video {
	position: relative;
}
.home-video .absolute {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home-video .search-header {
    padding-left: 0;
}
.home-video .search-header li{
    float: left;
    background: #E8AB44;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	font-size: 18px;
	letter-spacing: 2px;
}
.home-video .tab-content {
    clear: both;
    background: rgba(255,255,255,0.75);
    border: 1px solid #fff;
    padding: 15px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
.home-video form .row > div {
    display: flex;
    flex-direction: column;
}
.home-video form label{
    color: #6c6c6c;
	font-size: 18px;
	font-weight: 600;
}
.home-video form select,
.home-video form input,
.home-video  #bsubmit{
    background: #fff;
    border: none !important;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    outline: 0;
	cursor: pointer;
}
.home-video  #bsubmit {
    margin-top: 32px;
    background: #E8AB44;
    color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.home-video #bsubmit i {
    padding-right: 5px;
}

.js-cookie-consent.cookie-consent{
	position: fixed;
	/* top: 80px; */
	font-size: 15px;
	color: black;
	font-weight: 700;
}

.js-cookie-consent-agree.cookie-consent__agree{
	border: none !important;
	height: 44px;
	border-radius: 5px;
	padding: 10px;
	outline: 0;
	background-color: #E8AB44;
	color:white;
	cursor: pointer;
	font-weight: 700;
}

.js-cookie-consent{
	position: absolute;
	bottom: 0px;
	padding: 10px;
	text-align: center;
	width: 100%;
	z-index: 9999;
	background-color: #fffbdb;
	border-color: #fffacc;
}

/* Home About Us */
.about-us {
    padding: 75px 0 0;
    text-align: center;
	/* margin-top: 75px; */
}
.about-us h4 {
	color: #A1A1A1;
}
/* .about-us h1:after { */
h1:after {
    content: "";
    width: 80px;
    height: 4px;
    background: #E8AB44;
    display: flex;
    margin: 10px auto;
    border-radius: 20px;
}

.about-us p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-bg {
    height: 50px;
    background: linear-gradient(180deg, rgba(221, 221, 221, 0.38) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Our Services */
.our-services {
    text-align: center;
    padding: 100px 0;
    background: url('/assets/web/images/our-services-bg.png'); 
    background-attachment: fixed;
    background-position: center;
}
.our-services h1,
.our-services h2 {
    color: #fff;
}
.our-services h2 { 
    font-size: 24px;   
}
.services-slider img {
    max-width: 120px;
    margin-bottom: 50px;
}
.services-slider .col-md-4 {
    width: 335px;
    height: 410px;
    cursor: pointer;
}
.services-slider .service-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}
.services-slider .col-md-4:hover .service-inner {
    transform: rotateY(180deg);
}
.services-slider .front, .services-slider .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.services-slider .front {
    border: 1px solid rgba(151, 151, 151, 1);
    background:  rgba(151, 151, 151, 0.3);
}
.services-slider .back {
    transform: rotateY(180deg);
    background: #E8AB44;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.services-slider .back p {
    color: #fff;
    font-size: 16px;
}
.services-slider .bottom-line {
    width: 50px;
    height: 6px;
    background: #fff;
}
.slick-next:before,
.slick-prev:before {
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    opacity: 1;
}
.slick-next,
.slick-prev {
    background: rgba(2, 2, 2, 0.25);
    border-radius: 10px 0px 0px 10px;
    width: 35px;
    height: 70px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    left: -50px;
}
.slick-next {
    border-radius: 0px 10px 10px 0px;
    right: -50px;
    left: auto;
}
.slick-next:hover,
.slick-prev:hover {
    /* background: rgba(2, 2, 2, 0.8); */
	background: #EBB65B;
}
.slick-dots {
    bottom: -75px;
}
.slick-dots li button:before {
    
    background: #d9d9d9;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 1;
    transition: .4s ease all;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active button:before {
    width: 40px;
    transition: .4s ease all;
}
.slick-dots li.slick-active button:before {
    background: #E8AB44;
    border-radius: 10px;
}

/* Home Our Team */
.our-team {
    padding: 100px 0 100px;
}
.agent-listing h3 {
    margin-top: 50px;
    color: white;
}
h5 {
    color: #9C9C9C;
    font-family: 'Poppins-Regular';
    font-size: 20px;
}
.our-team h5, .our-team a {
	color: white !important;
}
.our-team a {
	color: #9C9C9C;
}
.our-team .relative > a {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.agent-title {
	color:black;
	font-weight: 700;
}

.agent-listing  .row {
    justify-content: center;
}

.our-team hr {
	width: 50px;
    height: 6px;
    background: #fff;
	border: none;
}

.our-team .agent-flip-card {
	background-color: transparent;
	width: 255px;
	height: 304px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.our-team .agent-flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.our-team .agent-flip-card:hover .agent-flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.our-team .agent-flip-card-front, .agent-flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
    border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.our-team .agent-flip-card-front {
	color: white !important;
	transform: rotateY(180deg);
}

.our-team .agent-flip-card-front img {
    border-radius: 20px;
}

/* Style the back side */
.our-team .agent-flip-card-back {
	background-color: #E8AB44;
	color: white !important;
}


/* Tristan Style Flip Agent */
.agent-listing  .col-md-6 {
    width: 100%;
    height: 304px;
}
.agent-listing  .service-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.agent-listing  .col-md-6:hover .service-inner {
    transform: rotateY(180deg);
}
.agent-listing  .front, .agent-listing .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden
}
.agent-listing  .front {
    border: 1px solid rgba(151, 151, 151, 1);
    background: #E8AB44;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
    text-align: center;
}
.agent-listing  .back {
    transform: rotateY(180deg);
    text-align: center;
    justify-content: flex-start;
	padding: 0;
}

/* Home Promotion */
.promotion {
    padding: 100px 0;
    text-align: center;
}
.promotion h1 {
    margin-bottom: 100px !important;
}
.promotion img {
    max-width: 100%;
}
.relative {
    position: relative;
}
.promotion .relative {
    border-radius: 20px;
    overflow: hidden;
    transition: .4s ease all;
    filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.16));
}
.promotion .absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: .4s ease all;
}
.promotion .absolute p, 
.promotion .absolute h2{
    color: #fff;
}
.promotion .absolute h2 {
    margin-bottom: 25px;
}
.promotion .absolute .top {
    position: absolute; 
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    background: #fff;
    padding: 5px 10px;
    border-radius: 6px;
}
.promotion .absolute .top p {
    color: #1e1e1e;
    margin-bottom: 0;
}
.promotion .col-md-4:hover .relative {
    transform: scale(1.1);
}
.promotion .col-md-4:hover .absolute {
    opacity: 1;
}
.promotion-slider .col-md-4 {
	padding: 20px; 
}
/* .promotion .slick-next,
.promotion .slick-prev {
    background: rgba(2, 2, 2, 0.25);
}
.promotion .slick-next:hover,
.promotion .slick-prev:hover {
    background: rgba(2, 2, 2, 0.45);
} */
.promotion  .slick-dots li button:before {
    background: #d9d9d9;
}
.promotion  .slick-dots li.slick-active button:before {
    background: #E8AB44;
}

/* Our Team Detail */
.our-team-profile-image{
	/* min-width: 255px; */
	min-width: 350px;
    min-height: 304px;
	/* max-width: 255px; */
	max-width: 350px;
    max-height: 304px;
    object-fit: cover;
	object-position: top;
}

.agent-profile .absolute {
    top: auto;
    bottom: 20px;
    left: auto;
    right: 20px;
}
.agent-profile .our-team-profile-image {
	max-width: 100%;
	max-height: 100%;
}
.agent-profile i {
    color: #D9D9D9;
}
.agent-profile i.social-icon {
    color: #000000;
    transition: .2s ease all;
}
.agent-profile .social-media a:hover i {
    color: #A6A6A6;
}
.agent-profile .social-media a:hover i.social-icon {
    color: #FFFFFF;
}
.agent-detail h3  {
    margin-bottom: 0px;
    color: #E8AB44;
}
.agent-detail h5:after {
    content: '';
    height: 1px;
    max-width: 250px;
    background: #969696;
    display: block;
    margin-top: 15px
    
}
.agent-detail a {
	color: #9C9C9C;
}
/* .agent-profile .col-md-6:nth-child(2) {
    display: flex;
    justify-content: flex-end;
} */
.agent-detail .col-md-12:nth-child(2)  {
    margin-top: 0.5rem;
}
.agent-detail .col-md-12:nth-child(3)  {
    text-align: justify;
}
.agent-profile .col-md-4 .relative {
    border-radius: 20px;
    overflow: hidden;
}

/* Properties */
.page-link {
    color: #000
}
.page-item.active .page-link {
    background: #E8AB44;
    border-color: #E8AB44;
}
.properties {
    padding: 50px 0;
}
.properties h1 {
    margin-bottom: 50px !important;
}
.absolute {
    position: absolute;
    top: 20px;
    left: 20px;
}
.absolute .label {
    background: #fff;
    padding: 5px 15px;
    border-radius: 6px;
    color: #000;
    font-size: 18px;
}
.properties-listing .absolute {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    left: 0;
}

.room-type {
    display: flex;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
}
.room-type li {
    background: #f2f2f2;
    color: #959595;
    padding: 5px 12px;
    border-radius: 6px;
	margin-right: 15px;
}
.property-price {
    position: absolute;
    bottom: 15px;
    right: 20px;
	/* bottom: 105px;
    right: 10px; */
    background: #23A949;
    color: #fff;
     padding: 5px 12px;
    border-radius: 6px;
}
.top-side {
    position: relative;
}
.sort {
    position: absolute;
    right: 0;
}
.sort select {
    background: #fff !important;
    border: none;
    color: #000;
    border-radius: 5px;
	border: 1px solid #000;
    padding: 10px 15px;
}

.property-main-image{
	width: 350px;
	height: 423px;
	object-fit: cover;
}

/* Property Detail */
.property-detail .room-type {
    justify-content: center;
    margin-bottom: 50px;
}
.property-detail .room-type li {
    background: #A3A3A3;
    color: #fff;
}
.property-detail .top-side ul li {
	list-style-type: disc;
	font-family: 'Poppins-Regular';
	color: #A1A1A1;
	font-size: 18px;
}
.property-detail .long-description {
	max-width: 60%;
	margin: auto;
}
.property-slider .col-md-4 {
    padding: 20px;
}
.property-slider ul {
    padding-left: 0;
}
.property-slider .row ul img {
   transition: .2s ease all;
   height: 338px;
   object-fit: cover;
}
.property-slider .row ul:hover img {
    transform: scale(1.1);
}
.plan .container,
.agent .container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.plan h4,
.agent h4 {
    color: #717171;
    margin-bottom: 25px;
}
.large-plan {
    border: 5px solid #d9d9d9;
    border-radius: 10px;
	height: 100%;
}
.plan .row {
    display: flex;
    flex-direction: row;
}
.plan .col-12 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.agent-detail {
    color: #717171;
}
.agent-detail .agent-contact {
    display: flex;
}
.agent-detail .agent-contact a {
    border: 1px solid #000;
    display: block;
    min-width: 175px;
    text-align: center;
    padding: 8px 0;
    margin: 20px 0;
    margin-right: 20px;
    border-radius: 5px;
    /* color: #959595; */
    transition: .2s ease all;
	background: #E8AB44;
    border-color: #E8AB44;
    color: #fff;
}

/* Property Inquiry Popup */
#myModal .modal-title {
    background: #E8AB44;
    max-width: 150px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    padding: 6px 0;
}
#myModal .modal-content {
    border: 1px solid #fff;
    border-top-left-radius: 0;
    /* background-color: rgba(255,255,255,.35); */
	padding: 20px;
	padding-top: 0;
}
 #myModal button.close {
    color: #000;
    opacity: 1;
}
#myModal .container {
    margin-top: 40px;
}
#myModal  .terms-of-use {
	/* color: #fff;*/
	margin-top: 0; 
	font-size: 12px;
}

.property-detail-video {
	/* max-width: 1403px;
	max-height: 431px;
	object-fit: cover; */
	margin: auto;
	width: 320px;
}

/* Contact Us */
#contact-us .heading {
	left: 0;
	right: 0;
}

#contact-us .contact-us-image {
	height: 50vh;
	object-fit: cover;
}

/* Privacy Policy */
#contact-us ul li {
	list-style-type: disc;
	font-family: 'Poppins-Regular';
	color: #A1A1A1;
	font-size: 18px;
	padding-left: 16px;
}

#contact-us .iti ul li {
	list-style: none;
}
#sendmailBtn {
	background-color: #E8AB44 !important;
}

/* 500 */
.error-title {
	font-size: 15rem;
}

.error-subtitle {
	font-size: 2rem;
}

/* Footer */
#footer {
	font-size: 12px;
}

#footer a {
    color: #fff;
}

#footer ul {
	list-style: disc;
	padding: inherit;
}

#footer .fa-stack:first-child {
	margin-left: -3px;
}

#footer .social-icon {
	color: #41423F;
	font-size: 13px;
}

#footer .information {
	background-color: #41423F;
}

#footer .disclaimer {
	background-color: #333333;
}

#footer .copyright {
	background-color: #262626;
}

.clear {
    clear:both;
}

/* Responsive */
@media (max-width: 1280px) {
	/* Homepage*/
	#navbar {
		display: none;
	}
	.services-slider img {
		max-width: 100px;
	}
	.our-services h2 {
		font-size: 20px;
}
	h2 {
		font-size: 1.5rem;
	}
	#navbar-mobile {
		display: block;
		/* position: fixed; */
		top: 0;
		z-index: 999;
		width: 100%;
		padding: 20px 0;
		transition: .3s ease all;
		list-style: none;
		position: initial;
	}
	.logo {
		max-width: 250px;
		width: auto;
	}
	.lang img {
		width: auto;
	}
	.burger-container {
		position: absolute;
		right: 25px;
		top: 35px;
		display: flex;
		align-items: center;
		color: #000;
	}
	.music-area button {
		color: #000;
	}
	.burger-container ul {
		margin-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	#burger {
		cursor: pointer;
	}
	.burger-container .lang a {
		color: #000;
	}
	.burger-container .lang a:focus,
	.burger-container .lang a.active {
		color: #000 !important;
	}
	.burger-container .lang > a:focus,
	.burger-container .lang > a.active {
		border: 1px solid #000 !important;
	}
	.burger-container .lang .dropdown-menu {
		left: auto;
		right: 0px;
		min-width: 100%;
		padding: 0;
	}
	.burger-container .lang .dropdown-menu a {
		color: #000;
	}
	.burger-container .lang .dropdown-menu a.active,
	.burger-container .lang .dropdown-menu a:hover {
		background: #E8AB44;
	}
	.sticky .burger-container, 
	.sticky .burger-container a {
		color: #000;
	}
	#accordion {
		display: none;
		margin-top: 15px;
		background: rgba(255,255,255, 0.5);
		list-style: none;
		padding: 20px 0;
	}
	#accordion li a {
		padding: 10px;
		padding-bottom: 0;
		color: #000;
	}
	#accordion li a:active,
	#accordion li a:focus,
	.burger-container .lang .dropdown-menu a:active,
	.burger-container .lang .dropdown-menu a:focus {
		color: #000 !important;
	}
	 #accordion li:first-child a {
		padding-top: 0px;
	}
	/*#accordion li:last-child a {
		padding-bottom: 20px;
	} */
	.sticky #accordion li a {
		color: #000;
	}

	/* Properties Listing */
	/* .property-price {
		bottom: 170px;;
	} */
}
@media (max-width: 991px) {
	/* Homepage*/
	.home-video .absolute {
		position: relative;
		background: #eee; 
		top: -10px;
		border-top: 3px solid #E8AB44;
		padding: 25px 0
	}
	.home-video .search-header {
		display: none;
	}
	.home-video form label {
		color: #000;
	}
	.home-video .tab-content {
		background: none;
		border: none;
	}
	h1 {
		font-size: 26px;
	}
	.our-services h2 {
		font-size: 18px;
	}
	.services-slider .col-md-4 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	} 

	/* Agent Detail */
	.agent-detail .col-md-6 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.agent-profile .col-md-6:nth-child(2) {
		justify-content: flex-start;
	}

	/* Properties Listing */
	.sort {
		position: relative;
		text-align: right;
		margin-bottom: 20px;
	}
	/* Properties Listing */
	/* .property-price {
		bottom: 150px;;
	} */

	/* Contact Us */
	#contact-us .heading {
		bottom: 100px;
	}
}
@media (max-width: 767px) {
	/* Homepage */
	.logo {
		max-width: 180px;
	}
	.burger-container {
		top: 25px;
	}
	h1 {
		font-size: 22px;
	}
	.services-slider .col-md-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.home-video form .row > div {
		margin-bottom: 25px;
	}
	.home-video #bsubmit {
		margin-top: 10px;
	}
	.our-services {
		padding: 50px 0
	}
	.our-services h1 {
		margin-bottom: 0 !important;
	}
	.agent-listing .col-md-6 {
		height: 400px;
	}
	.our-team a {
		width: 100%;
	}

	/* Properties Listing */
	/* .property-price {
		bottom: 155px;;
	} */

	/* Property Detail */
	.large-plan {
		height: auto;
	}
	.plan .col-sm-12 {
		margin-bottom: 30px;
	}
	.large-plan iframe {
		height: 350px;
	}
	.agent-detail {
		margin-top: 30px;
	}
	.our-team-profile-image {
		max-width: 100%;
		max-height: 100%;
	}
	.property-detail .room-type {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.property-detail .room-type li {
		margin-bottom: 15px;
	}
	/* .property-slider .slick-dots li button:before {
		background: #D9D9D9;
	} */
	.property-slider .row ul img {
		height: 500px;
	}
	.slick-dots {
		bottom: -25px;
	}

	/* List Your Property Form */
	#myModal .row {
		margin-top: 0 !important;
	}
	#myModal .row > div {
		padding: 0 !important;
		margin-bottom: 20px;
	}

	/* Contact Us */
	#contact-us .gradient-bottom {
		background: #eee;
		border-top: 3px solid #E8AB44;
		height: auto;
		margin-top: 0;
		padding: 25px 0;
	}
	#contact-us .heading {
		position: relative !important;
		bottom: auto !important;
	}
	#contact-us .heading h1,
	#contact-us .heading span {
		color:  #717171 !important;
	}
	#contact-us h1 {
		margin-bottom: 20px !important;
	}
}
  
@media (max-width: 480px) {
	/* Properties Listing */
	/* .property-price {
		bottom: 205px;;
	} */
	.logo {
		max-width: 160px;
	}
	#section-header #navbar-mobile ul li.lang > a {
		font-size: 14px;
		font-weight: 600;
	}
	#section-header #navbar-mobile ul li.lang > a {
		font-size: 14px;
		font-weight: 600;
		padding-left: 10px;
		padding-right: 10px;
	}
	.burger-container ul {
		padding-left: 10px;
		padding-right: 10px;
	}
	.error-title {
		font-size: 8rem;
	}
	.error-subtitle {
		font-size: 18px;
	}
	.agent-listing .col-md-6 {
		height: 300px;
	}
}