/* Upload Styling */
.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
  }
  
  .dropzone i{
    font-size: 5rem;
  }
  
  .dropzone .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
  }

/* Datatable */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-default {
    border-color: #ddd;
}
.panel-body {
    padding: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after{
    display: none;
}

div.dt-buttons {
    margin-bottom: 20px;
}
button.dt-button  {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    background: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
div.dataTables_wrapper div.dataTables_filter input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 2px solid #ddd;
}
table.dataTable {
    border: 1px solid #ddd;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 2px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
a.paginate_button.next {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
a.paginate_button.previous {
     border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: none;
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #777 !important;
    cursor: not-allowed;
    background-color: #fff !important;
    border-color: #ddd !important;
}
table.dataTable tbody th, 
table.dataTable tbody td {
    padding: 10px 18px;
    vertical-align: middle;
}

/* Client */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.profile-pic {
    border-radius: 50%;
    height: 150px;
    overflow: hidden;
    width: 150px;
}
.profile-pic img {
     width: 150px;
}
.profile .upload {
    margin-left: 25px;
}
.profile .upload a{
    color: #333;
    border: 1px solid #333;
    padding: 5px 20px;
    border-radius: 10px;
}
.iti {
    display: block!important;
}
.red {
    color: red;
}

